/* Stuart's Incredibly Awesome Custom CSS */

.body {
	background-color: #F0F0F0;
}

#page-wrapper{
	padding:25px;
	background:#F0F0F0;
	height: 100%;
	width: 100%
}

.white-box{
	background:#fff;
	padding:20px;
	border-radius: 10px;
	width: 100%;
	height: 100%
}

.white-box-favorites{
	background:#fff;
	padding:20px;
	border-radius: 10px;
	width: 100%;
}

/* Begin Main Nav Bar */
/**********ADD ANY ADJUSTMENTS HERE**********/
/* /End Main Nav Bar */


/* Begin Sub Nav Bar */
#sub-nav{
	background-color: white;
	border: none;
}

.nav, .nav-tabs {
	border: none;
}

#active-link-color {
	background-color: #F0F0F0;
	border-color: #F0F0F0;
}

.fas, .fa-tachometer-alt {
	margin-right: 7.5px;
}

.fa, .fa-user {
	margin-right: 7.5px;
}

.far, .fa-building {
	margin-right: 7.5px;
}

.fas, .fa-wrench {
	margin-right: 7.5px;
}
/* /End Sub Nav Bar */

/* Begin Favorites */
#favorites {
	margin-top: 30px;
}

#fa-star-title{
	padding-right: 10px; 
	color: #ff8562;
	}

.fa, .fa-star{
	color: #ff8562;
}

.fa, .fa-ellipsis-h {
	color: #4ea2be;
}
/* End Favorites */

/* Begin Getting Started */
.fa, .fa-play {
	margin-right: 10px;
	color: #59c9a5
} 

.fa, .fa-arrow-right {
	color: #59c9a5
}

.far, .fa-square {
	margin-right: 10px;
}
.far, .fa-check-square {
	margin-right: 10px;
	color: #59c9a5;
}
/* End Getting Started */

/* Begin Reminders */
.fa, .fa-bell {
	margin-right: 10px;
	color: #fb4c4f
} 
/* End Reminders */


li.borderless {
  border: none;
}

.get-started {
	margin: 20px;
}

.fas, .fa-arrow-right{
	text-align: right;
}

footer {
	background:#F0F0F0;
}



