/* Stuart's Incredibly Awesome Custom CSS */

.body {
	background-color: white;
}

#page-wrapper{
	padding:10px;
	background: white;
	height: 100%;
	width: 100%
}


/* Begin Navbar Custom CSS */
.navbar-custom {
    color: black;
    background-color: white;
    margin: 25px;
}

.nav-link {
    color: black;
}

.navbar-brand {
    color: black;
}

.navbar-toggler {
    border-color: black;
}

.navbar-toggle-icon span {color: black;} /* this portion needs to be edited */

/* End Navbar Custom CSS */

/* Begin Main-Search */
.search-custom {
    margin: 0px 0px 10px 0px;
    border-radius: none;
}

.input-group {
    border-radius: none;
}

.search-button {
    color: black;
    background-color: white;
    border-radius: none;
    border: 1px solid black;
}

.form-control {
    border-radius: none;
    border: 1px solid black;
}
/* /End Main-Search */

/* Begin Boxes */
.white-box {
	background:#fff;
	padding:20px;
	border-radius: 4px;
	width: 100%;
	height: 100%;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 20px 5px #E6E6E6
}

.white-box-favorites {
	background:#fff;
	padding:20px;
	border-radius: 4px;
    width: 100%;
    box-shadow: 0px 0px 20px 5px #E6E6E6;
}

.white-box-lg {
	background:#fff;
	padding:20px;
	border-radius: 4px;
	width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 5px #E6E6E6
}

.white-box-profile {
    background:#fff;
    padding:20px;
    border-radius: 4px;
    width: 100%;
    margin: 0px 0px 10px 0px; 
    box-shadow: 0px 0px 20px 5px #E6E6E6
}

.white-box-profile-details {
    background:white;
    padding:20px;
    border-radius: 4px;
    width: 100%;
    margin: 0px;
    height: 100%;
    box-shadow: 0px 0px 20px 5px #E6E6E6
}
/* /End Boxes */

/* Begin Pagination */

.page-link {
    color: black;
}

.pagination-spacing {
    padding-top: 10px;
    padding-bottom: none;
}
/* end Pagination */

/* Begin Favorites */
#favorites {
	margin-top: 20px;
}

#fa-star-title{
	margin-right: 10px; 
	color: #ff8562;
	}

.fa, .fa-star{
	color: #ff8562;
}

.fa, .fa-ellipsis-h {
	color: #4ea2be;
}
/* /end Favorites */

/* Begin Getting Started */
.fa, .fa-play {
	margin-right: 10px;
	color: #59c9a5
} 

.fa, .fa-arrow-right {
	color: #59c9a5;
	cursor: pointer;
}

.far, .fa-square {
	margin-right: 10px;
}
.far, .fa-check-square {
	margin-right: 10px;
	color: #59c9a5;
}

li.borderless {
  border: none;
}

.get-started {
	margin: 20px;
}

.fas, .fa-arrow-right{
	text-align: right;
}
/* /end Getting Started */


/* Begin Reminders */
.fa, .fa-bell {
	margin-right: 10px;
	color: #fb4c4f
} 
/* /end Reminders */


/* Begin Footer */
footer {
	background:#F0F0F0;
}
/* /end Footer */


/* Begin Buttons */
.button-settings {
    background-color: white;
    border: solid 1px #59c9a5;
    color: #59c9a5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    border-radius: none;
}

.button-settings-select {
    background-color: #59c9a5;
    border: solid 1px #59c9a5;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    border-radius: none;
}

.button-navigation{
	text-align: center; 
	padding: 10px 0px 10px 0px;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #59c9a5;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.19);
}
/* /end Buttons */

/*  Begin Profile Cards */
.card {
	margin: 8px;
    width: 12rem;
    height: 12rem;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 5px #E6E6E6;
}
.card-img-top {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 35%;
}

.card-title {
    text-align: center;
    font-size: 18px;
}

.card-text {
    text-align: center;
    font-size: 12px;
}

/*  /end Profile Cards */

/*  Begin Contacts & Companies Pages */
.fas, .fa-th-large, .fa-xs{
	margin-right: 10px;
}

.fas, .fa-plus {
	margin: 0px 5px 0px 5px;
    color: #4ea2be;
}

.fas, .fa-filter {
	margin: 0px 20px 0px 5px;
}

.type-select {
	color: #57C5A2;
}

.alt-type-select {
	color: lightgrey;
}

.fas, .fa-filter {
	color: #4ea2be;
}
/* /end Contacts & Companies Page */

/* Manage Social Accounts */
.fas, .fa-check {
	margin-right: 10px;
}

.btn-outline-danger{
	margin-left: 175px;
}

.btn-outline-success {
	margin-left: 175px;
}
/* /end Manage Social Accounts */

/* Begin Data Migration */
.button-tools-select {
    background-color: #54E0BC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px 10px 0px;
    cursor: pointer;
    width: 45%;
    border-radius: none;
}

.button-tools-deselect {
    background-color: white;
    border: solid 1px #59c9a5;
    color: #59c9a5;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px 10px 0px;
    cursor: pointer;
    width: 45%;
    border-radius: none;
}
/* /end Data Migration */

/* Begin Downloads */
.button-next {
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration-color: #4ea2be;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px 10px 0px;
    cursor: pointer;
    border-radius: none;
    width: 45%;
}

#chrome-arrow{
	color: #4ea2be;
	margin-left: 5px;
}

#chrome-arrow-left {
    color: #4ea2be;
    margin-right: 5px;
}
/* /end Downloads */

#v-pills-tab {
	border-right: 1px solid rgba(0,0,0,.1)
}


/* Begin Import Form */
.import-btn {
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration-color: #4ea2be;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px 10px 0px;
    cursor: pointer;
    border-radius: none;
    width: 49%;
}

.import-btn-submit {
    background-color: #4ea2be;
    border: 1px solid #4ea2be;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 49%;
}

.import-btn-info {
    background-color: lightgrey;
    color: white;
    padding: 2px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

.form-check {
    margin-left: 30px;
}

/* /end Import Form */


/* Modals */
.modal-click {
    cursor:pointer;
}

.fas, .fa-times {
    margin-left: 5px;
    color: red;
}
/* /end Modals */


/* Begin Profile Image Sizes */
.thumb-sm{height:32px;width:32px}
.thumb-md{height:48px;width:48px}
.thumb-lg{height:150px;width:150px}
/* End Profile Image Sizes */

.fa-sticky-note {
    margin-right: 10px;
    color: #59c9a5
}

.fa-sort-amount-down {
    margin: 0px 10px 0px 10px;
    color: #4ea2be;
}

#profile-funnel {
    margin: 0px 10px 0px 10px;
    color: #4ea2be;
}

.fa-trash-alt{
    color: #ff8562;
}

.fa-pencil-alt {
    color: #4ea2be;
}

.fa-user {
    margin-right: 10px;
    color: #59c9a5
}

.fa-user {
    margin-right: 10px;
    color: #59c9a5
}

#inputprofiletags{
    margin: 10px 0px 5px 0px;
}

#profile-details-header {
    text-align: center;
}

.individual-tag {
    margin-bottom:5px;
}

.profile-icons {
    margin: 0px 5px 0px 5px;
    color: #4ea2be;
}

.profile-info{
    margin: 10px 0px 10px 0px;
    list-style-type: none;
}




