/* Stuart's Incredibly Awesome Custom CSS */

.body {
	background-color: #F0F0F0;
}

#page-wrapper{
	padding:10px;
	background:#F0F0F0;
	height: 100%;
	width: 100%
}

.white-box{
	background:#fff;
	padding:20px;
	border-radius: 3.5px;
	width: 100%;
	height: 100%;
}

.white-box-favorites {
	background:#fff;
	padding:20px;
	border-radius: 3.5px;
	width: 100%;
}

.white-box-lg {
	background:#fff;
	padding:20px;
	border-radius: 3.5px;
	width: 100%;
	height: 100%;
}


/* Begin Main Nav Bar */
/**********ADD ANY ADJUSTMENTS HERE**********/
/* /End Main Nav Bar */


/* Begin Sub Nav Bar */
#sub-nav{
	background-color: #59c9a5;
	border: none;
}

.nav, .nav-tabs {
	border: none;
}

#active-link-color {
	background-color: #F0F0F0;
	border-color: #F0F0F0;
}

.fas, .fa-tachometer-alt {
	margin-right: 7.5px;
}

.fa, .fa-user {
	margin-right: 7.5px;
}

.far, .fa-building {
	margin-right: 7.5px;
}

.fas, .fa-wrench {
	margin-right: 7.5px;
}
/* /End Sub Nav Bar */


/* Begin Favorites */
#favorites {
	margin-top: 30px;
}

#fa-star-title{
	padding-right: 10px; 
	color: #ff8562;
	}

.fa, .fa-star{
	color: #ff8562;
}

.fa, .fa-ellipsis-h {
	color: #4ea2be;
}
/* End Favorites */

/* Begin Getting Started */
.fa, .fa-play {
	margin-right: 10px;
	color: #59c9a5
} 

.fa, .fa-arrow-right {
	color: #59c9a5;
	cursor: pointer;
}

.far, .fa-square {
	margin-right: 10px;
}
.far, .fa-check-square {
	margin-right: 10px;
	color: #59c9a5;
}

li.borderless {
  border: none;
}

.get-started {
	margin: 20px;
}

.fas, .fa-arrow-right{
	text-align: right;
}
/* End Getting Started */


/* Begin Reminders */
.fa, .fa-bell {
	margin-right: 10px;
	color: #fb4c4f
} 
/* End Reminders */


/* Begin Footer */
footer {
	background:#F0F0F0;
}
/* End Footer */


/* Begin Buttons */
.button-settings {
    background-color: white;
    border: solid 1px #59c9a5;
    color: #59c9a5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    border-radius: 3.5px;
}

.button-settings-select {
    background-color: #59c9a5;
    border: solid 1px #59c9a5;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    border-radius: 3.5px;
}

.button-navigation{
	text-align: center; 
	padding: 10px 0px 10px 0px;
}
/* End Buttons */



/*  Begin Contacts & Companies Pages */
.fas, .fa-th-large, .fa-xs{
	margin-right: 10px;
}

.fas, .fa-plus {
	margin-left: 5px;
	margin-right: 10px;
}

.fas, .fa-filter {
	margin-right: 20px;
	margin-left: 5px;
}

/* /End Contacts & Companies Page */
